WCF_SERVICE_1/ProductService/ProductService/Connected Services/HQServiceReference/HQService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HQService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HQService/HQService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HQService/HQService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/HQService/HQService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HQService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHQService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHQService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHQService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHQService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IHQService_CheckInsertIsDone_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckInsertIsDone" />
  </wsdl:message>
  <wsdl:message name="IHQService_CheckInsertIsDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckInsertIsDoneResponse" />
  </wsdl:message>
  <wsdl:message name="IHQService_CheckUpdateProductIsDone_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdateProductIsDone" />
  </wsdl:message>
  <wsdl:message name="IHQService_CheckUpdateProductIsDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdateProductIsDoneResponse" />
  </wsdl:message>
  <wsdl:portType name="IHQService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHQService/GetData" message="tns:IHQService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHQService/GetDataResponse" message="tns:IHQService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHQService/GetDataUsingDataContract" message="tns:IHQService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHQService/GetDataUsingDataContractResponse" message="tns:IHQService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckInsertIsDone">
      <wsdl:input wsaw:Action="http://tempuri.org/IHQService/CheckInsertIsDone" message="tns:IHQService_CheckInsertIsDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHQService/CheckInsertIsDoneResponse" message="tns:IHQService_CheckInsertIsDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateProductIsDone">
      <wsdl:input wsaw:Action="http://tempuri.org/IHQService/CheckUpdateProductIsDone" message="tns:IHQService_CheckUpdateProductIsDone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHQService/CheckUpdateProductIsDoneResponse" message="tns:IHQService_CheckUpdateProductIsDone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHQService" type="tns:IHQService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHQService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHQService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInsertIsDone">
      <soap:operation soapAction="http://tempuri.org/IHQService/CheckInsertIsDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdateProductIsDone">
      <soap:operation soapAction="http://tempuri.org/IHQService/CheckUpdateProductIsDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HQService">
    <wsdl:port name="BasicHttpBinding_IHQService" binding="tns:BasicHttpBinding_IHQService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HQService/HQService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>