GlobalAdminApp/GlobalAdminApp/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HQService" />
  <xs:element name="requestStockHQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedOrderId" type="xs:int" />
        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="quantityAsked" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestStockHQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestStockHQResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acceptStockRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acceptStockRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acceptStockRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logLocalOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="localClientId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="localShipperId" type="xs:int" />
        <xs:element minOccurs="0" name="isAccepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logLocalOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logLocalOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dismissStockOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dismissStockOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dismissStockOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductStocks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductStocksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HQService" minOccurs="0" name="getProductStocksResult" nillable="true" type="q1:ArrayOfProductStockDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingStockOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPendingStockOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HQService" minOccurs="0" name="getPendingStockOrdersResult" nillable="true" type="q2:ArrayOfPendingStockOrderDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HQService" minOccurs="0" name="getBranchesResult" nillable="true" type="q3:ArrayOfBranchDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrdersLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrdersLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HQService" minOccurs="0" name="getOrdersLogsResult" nillable="true" type="q4:ArrayOfOrdersLogDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStockOrderLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStockOrderLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HQService" minOccurs="0" name="getStockOrderLogsResult" nillable="true" type="q5:ArrayOfStockOrderLogDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>