GlobalAdminApp/GlobalAdminApp/Connected Services/HQServiceReference/HQService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HQService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HQService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductStockDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductStockDTO" nillable="true" type="tns:ProductStockDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductStockDTO" nillable="true" type="tns:ArrayOfProductStockDTO" />
  <xs:complexType name="ProductStockDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductStockDTO" nillable="true" type="tns:ProductStockDTO" />
  <xs:complexType name="ArrayOfPendingStockOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PendingStockOrderDTO" nillable="true" type="tns:PendingStockOrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPendingStockOrderDTO" nillable="true" type="tns:ArrayOfPendingStockOrderDTO" />
  <xs:complexType name="PendingStockOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityAsked" type="xs:int" />
      <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PendingStockOrderDTO" nillable="true" type="tns:PendingStockOrderDTO" />
  <xs:complexType name="ArrayOfBranchDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchDTO" nillable="true" type="tns:BranchDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchDTO" nillable="true" type="tns:ArrayOfBranchDTO" />
  <xs:complexType name="BranchDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchDTO" nillable="true" type="tns:BranchDTO" />
  <xs:complexType name="ArrayOfOrdersLogDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdersLogDTO" nillable="true" type="tns:OrdersLogDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdersLogDTO" nillable="true" type="tns:ArrayOfOrdersLogDTO" />
  <xs:complexType name="OrdersLogDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accepted" type="xs:short" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocalClientID" type="xs:int" />
      <xs:element minOccurs="0" name="LocalShipperID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdersLogDTO" nillable="true" type="tns:OrdersLogDTO" />
  <xs:complexType name="ArrayOfStockOrderLogDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockOrderLogDTO" nillable="true" type="tns:StockOrderLogDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockOrderLogDTO" nillable="true" type="tns:ArrayOfStockOrderLogDTO" />
  <xs:complexType name="StockOrderLogDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockOrderLogDTO" nillable="true" type="tns:StockOrderLogDTO" />
</xs:schema>