LocalAdminApp/LocalAdminApp/Connected Services/HQServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="requestStockHQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedOrderId" type="xs:int" />
        <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="quantityAsked" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestStockHQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestStockHQResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acceptStockRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acceptStockRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acceptStockRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logLocalOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="localClientId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="localShipperId" type="xs:int" />
        <xs:element minOccurs="0" name="isAccepted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logLocalOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logLocalOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>