LocalAdminApp/LocalAdminApp/Connected Services/HQServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HQServiceClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHQService_requestStockHQ_InputMessage">
    <wsdl:part name="parameters" element="tns:requestStockHQ" />
  </wsdl:message>
  <wsdl:message name="IHQService_requestStockHQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:requestStockHQResponse" />
  </wsdl:message>
  <wsdl:message name="IHQService_acceptStockRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:acceptStockRequest" />
  </wsdl:message>
  <wsdl:message name="IHQService_acceptStockRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:acceptStockRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IHQService_logLocalOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:logLocalOrder" />
  </wsdl:message>
  <wsdl:message name="IHQService_logLocalOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:logLocalOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IHQService">
    <wsdl:operation name="requestStockHQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IHQService/requestStockHQ" message="tns:IHQService_requestStockHQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHQService/requestStockHQResponse" message="tns:IHQService_requestStockHQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="acceptStockRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IHQService/acceptStockRequest" message="tns:IHQService_acceptStockRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHQService/acceptStockRequestResponse" message="tns:IHQService_acceptStockRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logLocalOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IHQService/logLocalOrder" message="tns:IHQService_logLocalOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHQService/logLocalOrderResponse" message="tns:IHQService_logLocalOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHQService" type="tns:IHQService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requestStockHQ">
      <soap:operation soapAction="http://tempuri.org/IHQService/requestStockHQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptStockRequest">
      <soap:operation soapAction="http://tempuri.org/IHQService/acceptStockRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logLocalOrder">
      <soap:operation soapAction="http://tempuri.org/IHQService/logLocalOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HQServiceClass">
    <wsdl:port name="BasicHttpBinding_IHQService" binding="tns:BasicHttpBinding_IHQService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HQService/HQServiceClass/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>