WCF_SERVICE_HQ/HQService/HQService/Connected Services/UkBranchServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductServiceClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ProductService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_newProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:newProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_newProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:newProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_updateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:updateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_updateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_requestOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:requestOrder" />
  </wsdl:message>
  <wsdl:message name="IProductService_requestOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:requestOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_acceptOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:acceptOrder" />
  </wsdl:message>
  <wsdl:message name="IProductService_acceptOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:acceptOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_deliverStock_InputMessage">
    <wsdl:part name="parameters" element="tns:deliverStock" />
  </wsdl:message>
  <wsdl:message name="IProductService_deliverStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:deliverStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProduct" message="tns:IProductService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductResponse" message="tns:IProductService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetProducts" message="tns:IProductService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetProductsResponse" message="tns:IProductService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/newProduct" message="tns:IProductService_newProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/newProductResponse" message="tns:IProductService_newProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/updateProduct" message="tns:IProductService_updateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/updateProductResponse" message="tns:IProductService_updateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="requestOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/requestOrder" message="tns:IProductService_requestOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/requestOrderResponse" message="tns:IProductService_requestOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="acceptOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/acceptOrder" message="tns:IProductService_acceptOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/acceptOrderResponse" message="tns:IProductService_acceptOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deliverStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/deliverStock" message="tns:IProductService_deliverStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/deliverStockResponse" message="tns:IProductService_deliverStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/newProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/updateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestOrder">
      <soap:operation soapAction="http://tempuri.org/IProductService/requestOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acceptOrder">
      <soap:operation soapAction="http://tempuri.org/IProductService/acceptOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliverStock">
      <soap:operation soapAction="http://tempuri.org/IProductService/deliverStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductServiceClass">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProductService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>