SOAP_REST_CLIENT/Connected Services/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_SOAP_REST" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfChocolate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chocolate" nillable="true" type="tns:Chocolate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChocolate" nillable="true" type="tns:ArrayOfChocolate" />
  <xs:complexType name="Chocolate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChocId" type="xs:int" />
      <xs:element minOccurs="0" name="ChocName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChocQuant" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chocolate" nillable="true" type="tns:Chocolate" />
</xs:schema>